# Terraform working directory
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Keep lock file
!.terraform.lock.hcl